# Lighter TypeScript SDK Environment Variables
# Copy this file to .env and fill in your actual values

# Your API private key (required for examples that need authentication)
# This should be generated using the system-setup.ts example
PRIVATE_KEY=your_api-private_key_here #api pv key genrated when creates the api keys
L1_ADDRESS=    #L1 private key address

# Optional: Override the base URL for different environments
# Uncomment and modify as needed:
# BASE_URL=https://mainnet.zklighter.elliot.ai
# BASE_URL=https://mainnet.zklighter.elliot.ai

# Optional: Account and API key indices (if different from defaults)
# ACCOUNT_INDEX=65
# API_KEY_INDEX=1 